# Day 4 Data wrangling with Python - Exercises

## Exercise 1

#### Question 1
##### Load packages os, pandas and numpy.

In [1]:
import pathlib

In [13]:
tb = pathlib.Path.cwd().parent.parent.parent / 'data' / 'data' / 'TB_data.csv'

In [14]:
tb

WindowsPath('c:/cgi-data-science/Data-Wrangling-in-Python/data/data/TB_data.csv')

In [18]:
df = pd.read_csv('TB_data.csv')

##### Set the working directory to data directory.
##### Print the working directory.

#### Answer:

#### Question 2
##### Read in 'TB_data.csv' into a variable called `tb_data` using pandas.

##### Print the first 20 rows of the DataFrame.

In [19]:
df.head(20)

,country,iso2,iso3,iso_numeric,year,measure,unit,age_group,sex,best,lo,hi
0,Afghanistan,AF,AFG,4,2017,inc,num,0-14,a,7400,6500.0,8400.0
1,Afghanistan,AF,AFG,4,2017,inc,num,0-14,f,3500,3200.0,3900.0
2,Afghanistan,AF,AFG,4,2017,inc,num,0-14,m,3900,3500.0,4300.0
3,Afghanistan,AF,AFG,4,2017,inc,num,0-4,f,1800,1700.0,1900.0
4,Afghanistan,AF,AFG,4,2017,inc,num,0-4,m,2200,2000.0,2300.0
...,...,...,...,...,...,...,...,...,...,...,...,...
15,Afghanistan,AF,AFG,4,2017,inc,num,45-54,m,4100,3700.0,4500.0
16,Afghanistan,AF,AFG,4,2017,inc,num,5-14,f,1800,1700.0,1900.0
17,Afghanistan,AF,AFG,4,2017,inc,num,5-14,m,1700,1600.0,1800.0
18,Afghanistan,AF,AFG,4,2017,inc,num,55-64,f,3900,3600.0,4300.0
19,Afghanistan,AF,AFG,4,2017,inc,num,55-64,m,3700,3400.0,4100.0

#### Answer:

#### Question 3
##### Perform the following actions on `tb_data` object:
- Check the type of the object
- Get the shape of the object and save it to 2 variables and print both:
    - `nrows`
    - `ncols`

#### Answer:

In [22]:
nrows, ncols = df.shape
print(nrows)
print(ncols)

3848
12

#### Question 4
##### Use sample function to:
    - print first 5 rows in tb_data
    - print 3 random rows in tb_data
    - print 0.1% random rows in tb_data

#### Answer:

#### Question 5
##### Inspect tb_data with the following information:
    - columns
    - data types
    - info
    - statistical summary (describe)

#### Answer:

##### Note: We do not have any specific ID variable we can use as an index.

## Exercise 2

#### Question 1
##### Split the data to be grouped by age group. 
##### Group by the column `age_group` and assign it to a dataframe named `grouped_df`.

#### Answer:

#### Question 2
##### Use the summary functions to get the mean number of `best` for all the age groups you just grouped in `grouped_df`.
##### Assign the output to a dataframe called `age_best` and print that dataframe to the console.

#### Answer:

#### Question 3
##### Use the summary functions to get the max number of `lo` for all the age groups grouped by the column `age_group`.
##### Assign the output to a dataframe called `age_low` and print that dataframe to the console.
##### Make sure all values are rounded to the next integer.

#### Answer:

#### Question 4
##### Sort the values of `age_lo` in descending order

#### Answer:

#### Question 5
##### Filter the values of `age_best` for values of `best` that are above 10000.

#### Answer:

#### Question 6
##### In `age_best`, create a new boolean column (containing values True or False) called `high` 
##### that indicates whether a row has a value for `best` that is higher than 10000.

#### Answer:

## Exercise 3

#### Question 1
##### Subset `tb_data`, so that the new dataframe only contains the columns `best`, `lo`, and `hi`
##### Call the new dataframe `tb_subset`

#### Answer:

#### Question 2
##### Check the count of missing values NAs by columns.

#### Answer:

#### Question 3
##### We just saw that there are NAs in our data.
##### Impute missing values using the mean of the column.

#### Answer:

#### Question 4
##### Let us convert `best` to a categorical variable with two levels.
##### Convert values in `best` below 5000 to `low` and above or equal to 5000 to `high`.

#### Answer:

#### Question 5
##### Check the type of the variable `best` and convert it to boolean, so that it has the value `True` for `high` and `False` for `low`

#### Answer:

#### Question 6
##### Group `tb_subset` by variable `best`. Save as `tb_grouped`.
##### Convert `tb_grouped` to a wide dataframe by taking mean of `tb_grouped` and specifying the variables `lo` and `hi`.
##### Print results.
##### Reset the index of `tb_grouped_mean` and print results again.

#### Answer:

#### Question 7
##### Change the dataframe `tb_grouped_mean` to be a long dataframe.
##### The resulting column names should be `best`, `type` (contains the column names of the wide dataframe), and `value` (containts the values from the wide dataframe).
##### Name the resulting dataframe `tb_subset_long`.

#### Answer: